# Virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled files
*.pyo
*.pyd

# Build/Packaging
build/
dist/
*.egg-info/

#node modules

frontend/node_modules/

